@{
    ViewData["Title"] = "SMART.IO";
}


<h1 class="texto-smartio" style="text-align:center;"> SMART.IO</h1>

<h3 style="text-align:center;">
    Somos focados em smart cities e sustentabilidade buscando melhoria nas cidade
    para transforma-las em cidades inteligentes.
</h3>

<div class="flex-container-drives">
    <div class="card">
        <div class="card-header">
            <h2>Preencha os dados abaixo para a nossa pesquisa</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Digite seu CEP</h5>
            <div>
                <input type="text" class="form-control" style="width:300px" id="cep" onclick="formatarCep()" placeholder="Digite seu cep">
            </div>
            <hr />
            <h2>Escolha entre esses itens  abaixo que você como cidadão acha mais prioritário para sua cidade.</h2>
            <br />
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">SUSTENTABILIDADE</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">SEGURANÇA</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">SAÚDE</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">MOBILIDADE</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">ENERGIA INTELIGENTE</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">PLANEJAMENTO URBANO</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">INOVAÇÃO</label>
            </div>
            <br />
            <div>
                <button class="btn btn-lg btn-primary" sstyle="width: 50% !important;" type="submit">ENVIAR</button>
            </div>

        </div>
    </div>
</div>








