@{
    ViewData["Title"] = "SMART.IO";
}

<div class="flex-container">

    <div class="flex-container">
        <div class="content-info">
            <p>
                <h1 class="texto-smartio">
                    SMART.IO
                </h1>
            </p>
            <p>
                <h2>
                    Somos focados em smart cities e sustentabilidade buscando melhoria nas cidade
                    para transforma-las em cidades inteligentes.
                </h2>
            </p>
        </div>
    </div>
    <main class="form-signin w-100 m-auto">
        <div data-reactroot class="index-page">
            <h1 class="h3 mb-3 fw-normal"><b>Entrar</b></h1>
            <div class="card ">
                <form>
                    <div>
                        <input type="text" class="form-control" id="floatingInput" placeholder="Digite seu email">
                    </div>
                    <br />
                    <div>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="senha">
                    </div>
                    <div>

                        <hr />
                        <div class="position-relative"><b>OU</b></div>
                        <hr />
                    </div>
                    <div>
                        <input type="text" class="form-control" id="floatingInput" placeholder="Digite seu CEP">
                    </div>
                    <hr />
                    <div>
                        <button class="w-100 btn btn-lg btn-primary" type="submit">Continuar</button>
                    </div>
                </form>
            </div>

        </div>
    </main>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
</div>

